<div class=" container col-1-5 p-0 position-fixed  bg-custom-blue shadow" style="min-height: 95.5vh;">
    <ul class=" mt-5 navbar-nav">
      <li class=" nav-item sidebar-item ps-4 ">
        <a class="nav-link active link-dark" aria-current="page" href="{% url 'dashboard' %}">Dashboard</a>
      </li>
      <li class=" nav-item sidebar-item ps-4 ">
        <a class="nav-link active link-dark" aria-current="page" href="{% url 'trades' %}">Trades</a>
      </li>
      <li class=" nav-item sidebar-item ps-4 ">
        <a class="nav-link active link-dark" aria-current="page" href="{% url 'calender' %}">Calender</a>
      </li>
      <li class=" nav-item sidebar-item ps-4 ">
        <a class="nav-link active link-dark" aria-current="page" href="{% url 'note' %}">NoteBook</a>
      </li>

    </ul>
  </div>